## Python Basics 2nd Lectuer Tasks
1. Multi line comment
2. Multi line string
3. Bitwise operation with detailes
4. operation on numbers
5. operations on lists (modify, remove, add, etc)
6. operations on 2d list
7. all sub operation like sum, max, min, sort, count, reverse, len, type (dtype), upper, lower, capalized.
8. try all after .
9. 100 programs (3 input, 10 bitwise opeation, 20 numbers, 40 list, remaining sub operation (.))

## 1. Multi line comments

In [7]:
# Multi line comments are used to comment the multiple lines such as fallows.

# University of Loralai 
# BS Computer Science 
# Data Engieneering

## 2.Multiline Strings

In [3]:
#  Multi-line String
#  A multi-line string is a string written in many lines using

text = """Hi, I am Sajad ullah I belongs to Dist Ziarat. 
And I am learning Python by sir.Hazrat bilal.
I want to be a Data Engeineer."""
print(text)

Hi, I am Sajad ullah I belongs to Dist Ziarat.
And I am learning Python by sir.Hazrat bilal.
I want to be a Data Engeineer.

## 3.Inputs in python

In [13]:
name = input("Enter your name:")
print("Your name is:", name)

Your name is: Sajad ullah

In [14]:
age = int(input("Enter your age:"))
print("Your age is:", age)

Your age is: 19

In [15]:
email = input("Enter your email")
if email == "sajadullah241@gmail.com":
    print("Login seccessfully...")
else:
    print("Please try again.")

Login seccessfully...

## 4.Bitwias Operations

In [ ]:
 # 1. AND
a = 5 & 3
print(a)   # 1

1

In [9]:
# 2. OR
b = 5 | 3
print(b)   # 7

7

In [10]:
# 3. XOR
c = 5 ^ 3
print(c)   # 6

6

In [14]:
# 4. NOT
d = ~4
print(d)   # -6

-5

In [ ]:
# 5. OR with different numbers
h = 12 | 6
print(h)   # 14

14

In [ ]:
#   program no 6
a = 5 
b = 3 
print(a == b)    # output will be False

False

In [ ]:
#   program no 7
a = 7 
b = 9 
print(a != b)    # Output will be True

True

In [ ]:
#   program no 8
x = 3 
y = 3 
print(x == y)     # Output will be True

True

In [ ]:
#   program no 9
marks = 81 
if marks >= 50 :
    print("Pass")
else : 
    print("Fail")

Pass

In [ ]:
#   program no 10
#   `Sir g ap ka example han yad han...`
moter_cycle = "Pitrol"
weather = "Good"
if moter_cycle == "Pitrol" and weather == "Good":
    print("Going to University.")
else: 
    print("Not going to university...")

Going to University.

## 5.Number Operations

In [ ]:
#   program no 1
price1 = 240 
price2 = 280 
total_price = price1 + price2 
print("Total Bill:", total_price)

Total Bill: 520

In [ ]:
#   program no 2
paid = 550 
total_price = 520 
change = 550 - 520
print("Return:", change)

Return: 30

In [ ]:
#   program no 3
bill = 1200 
friends = 4
each = bill / friends
print("Each pays:", each)

Each pays: 300.0

In [ ]:
#   program no 4
salary = 50000 
text = salary * 0.10
net_salary = text - salary
print(net_salary)

-45000.0

In [ ]:
#   program no 5
total_marks = 500 
obtained_marks = 490
percentage = (obtained_marks / total_marks) * 100
print("Percentage is:", percentage)

Percentage is: 98.0

In [ ]:
#   program no 6
age = 18 
future_age = age + 5
print("After 5 years your age:", future_age)

After 5 years your age: 23

In [ ]:
#   program no 7
a = 10
b = 3
sum = a + b
print(sum)   # Addition -> 13

13

In [ ]:
#   program no 8
subject1_marks = 89 
subject2_marks = 87
total_marks = subject1_marks + subject2_marks
print("Total marks:", total_marks)

Total marks: 176

In [ ]:
#   program no 9
sub1 = 89 
sub2 = 67 
percentage = (sub1 + sub2) / 2 
print("Percentage:", percentage)

Percentage: 78.0

In [ ]:
#   program no 10
x = 6 
y = 4.8999
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [ ]:
#   program no 11
x = True
y = False 
print(x)
print(y)

True
False

In [ ]:
#   program no 12
a = 6 
b = 9 
multiplication = a * b
print(multiplication)   # Multiplication -> 54

54

In [ ]:
#   program no 13
a = 4 
b = 2 
Subtraction = a - b
print("Subtraction is:", Subtraction )   # Subtraction -> 2

Subtraction is: 2

In [ ]:
#   program no 14
x = 78 
y = 3 
divisoin = x / y
print("divisoin is:", divisoin)   # Division -> 26.0

divisoin is: 26.0

In [ ]:
#   program no 15
y = 3 
z = 9 
remainder = y % z
print("remainder is:", remainder )   # Modulus (remainder) -> 3

remainder is: 3

In [ ]:
#   program no 16
birth_year = 2006
current_year =  2026
birth_day = current_year - birth_year
print("Your age is:", birth_day)

Your age is: 20

In [ ]:
#   program no 17
km = 10
miles = km * 0.621371
print("Distance in miles:", miles)

Distance in miles: 6.21371

In [ ]:
#   program no 18
lenght = 5 
width = 3 
area = lenght * width 
print("Area of rectangle:", area)

Area of rectangle: 15

In [ ]:
#   program no 19
n = 7 
square = n * n 
print("Square is :", square)

Square is : 49

In [ ]:
#   program no 20
hours = 5 
minutes = hours * 60 
print("total minutes are:", minutes)

total minutes are: 300

## 6. operations on lists (modify, remove, add, etc)

In [ ]:
#   program no 1
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#   program no 2
students = ["Sajad ullah", "Ebad ullah", "Ameen ullah", "Mavand khan"]
print(students)

['Sajad ullah', 'Ebad ullah', 'Ameen ullah', 'Mavand khan']

In [ ]:
#   program no 3
list = [1, 6, 4, 9, 3]
list.sort()
print(list)

[1, 3, 4, 6, 9]

In [ ]:
#   program no 4
list = ["Sajad ullah", "Ebad ullah", "Ameen ullah"]
list.remove("Sajad ullah")
print(list)

['Ebad ullah', 'Ameen ullah']

In [ ]:
#   program no 5
list = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
list.append(10)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#   program no 6
list = [1, 2, 3, 4, 5, 6]
list[4] = 9
print(list)

[1, 2, 3, 4, 9, 6]

In [ ]:
#   program no 7
ist = [1, 2, 3, 4, 5]
if 2 in list:
    print("Yes")
else:
    print("No")

Yes

In [ ]:
#   program no 8
students = ["Sajad ullah", "Ikram ullah", "Ameen ullah"]
if "Sajad ullah" in students:
    print("Yes! Sajad ullah is founded.")
else:
    print("No! Sajad ullah is not founded.")

Yes! Sajad ullah is founded.

In [ ]:
#   program no 9
students = ["Sajad ullah", "Ebad ullah", "Ikram ullah", "Ameen ullah"]
for i in students:
    print(i, end = " ")

Sajad ullah Ebad ullah Ikram ullah Ameen ullah

In [ ]:
#   program no 10
list = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
]
print(list[0])     # Outpur will be [1, 2, 3]

[1, 2, 3]

In [ ]:
#   program no 11
list = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
]
print(list[0][1])       # Output will be 2

2

In [ ]:
#   program no 12
list = [1, 2, 3, 4, 5, 6, 7]
print(list[0:])         # it means that print from 0 index to last

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#   program no 13
list = [1, 2, 3, 4, 5, 6, 7]
print(list[:7])    # it means that from 0 index to 7

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#   program no 14
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list[0:5])    # it means that from 0 index to 5

[1, 2, 3, 4, 5]

In [ ]:
#   program no 15
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list[5])    # Output will be 4 because 6 is located at 5th index.

6

In [ ]:
#   program no 16
list = [1, 2, 3, 44, 5, 6, 7, 8, 9, 10]
list[3] = 4
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
#   program no 17
cart = ["Milk", "Eggs", "Bread"]
cart.append("Butter")
print(cart)

['Milk', 'Eggs', 'Bread', 'Butter']

In [47]:
#   program no 18
contacts = ["Sajad ullah", "Ebad ullah", "Ameen ullah"]
print("Total contacts:", len(contacts))

Total contacts: 3

In [ ]:
#   program no 19
#   Daily Expensis
expensis = [100, 70, 90, 120]
print("Total:", sum(expensis))

Total: 380

In [ ]:
#   program no 20
#   To-do list
todo = ["Study", "Pray", "Exercise", "Games"]
todo.remove("Games")
print(todo)

['Study', 'Pray', 'Exercise']

In [ ]:
#   program no 21
#   your fav movies
movies = ["Khuda aor mahobat", "Dil waly", "War"]
print(movies[0])

Khuda aor mahobat

In [ ]:
#   program no 22
#   Attendance Management system
attendance = ["present", "present", "present", "Absent", "Absent"]
print("Present students:", attendance.count("present"))
print("Absent students:", attendance.count("Absent"))

Present students: 3
Absent students: 2

In [ ]:
#   program no 23
#   Phone battery history
battery = [100, 90, 75, 60]
print("Lowest:", min(battery))

Lowest: 60

In [ ]:
#   program no 24
#   Weather temperatures
temps = [30, 32, 35, 33]
print("Max Temp:", max(temps))

In [61]:
#   program no 25
#   Email inbox
inbox = ["Mail1", "Mail2", "Mail3"]
last = inbox.pop()
print(last)

Mail3

In [ ]:
#   program no 26
#   Library books
books = ["Book A", "Book B"]
books.extend(["Book C", "Book D"])
print(books)

['Book A', 'Book B', 'Book C', 'Book D']

In [ ]:
#   program no 27
#   Menu items
menu = ["Burger", "Pizza", "Fries"]
print("Pizza" in menu)

True

In [64]:
#   program no 28
#   Salary list
salaries = [30000, 45000, 60000]
high = [s for s in salaries if s > 40000]
print(high)

[45000, 60000]

In [ ]:
#   program no 29
#   Sports team
team = ["Batsman", "Bowler"]
team.append("All-rounder")
print(team)

['Batsman', 'Bowler', 'All-rounder']

In [ ]:
#   program no 30
#   Phone apps
apps = ["WhatsApp", "Chrome", "YouTube", "Tiktok"]
apps.remove("Tiktok")
print(apps)

['WhatsApp', 'Chrome', 'YouTube']

In [1]:
#   program no 31
#  Favorite fruits
fruits = ["Apple", "Banana", "Mango"]
fruits.append("Orange")
print(fruits)

['Apple', 'Banana', 'Mango', 'Orange']

In [2]:
#   program no 32
#  Bus passengers count
passengers = [10, 15, 8, 20]
total = sum(passengers)
print("Total passengers:", total)

Total passengers: 53

In [ ]:
#   program no 33
#   Mobile app usage hours
usage_hours = [2, 3, 1, 4]
print("Total hours:", sum(usage_hours))

Total hours: 10

In [4]:
#   program no 34
#   Classroom roll numbers
roll_numbers = [1, 2, 3, 4, 5]
roll_numbers.insert(0, 0)
print(roll_numbers)

[0, 1, 2, 3, 4, 5]

In [5]:
#   program no 35
# 10. Monthly expenses
expenses = [1200, 800, 600, 400]
print("Lowest expense:", min(expenses))

Lowest expense: 400

In [6]:
#   program no 36
# 11. Sports team players
players = ["Babar", "Rizwan", "Shaheen"]
for p in players:
    print(p)

Babar
Rizwan
Shaheen

In [8]:
#   program no 37
# 12. Movie watch list
movies = ["Inception", "Avengers", "Jumanji"]
new_movie = input("Enter a movie name: ")
movies.append(new_movie)
print(movies)

['Inception', 'Avengers', 'Jumanji', 'War']

In [9]:
#   program no 38
# 13. Water bottles in a bag
bottles = ["Blue", "Green", "Red"]
print("Number of bottles:", len(bottles))

Number of bottles: 3

In [10]:
#   program no 39
# 14. Days of a weekend plan
plans = ["Study", "Cleaning"]
plans.append("Family Visit")
print(plans)

['Study', 'Cleaning', 'Family Visit']

In [11]:
#   program no 40
# 15. Morning alarms time
alarms = ["6:00 AM", "6:30 AM", "7:00 AM"]
print("Last alarm:", alarms[-1])

Last alarm: 7:00 AM